rsyslog:
  target: 192.168.100.1 # omit if you do not want to forward logs
  listentcp: true               # omit to disable listening on tcp port
  listenudp: true               # omit to disable listening on udp port
  imkllog: true             # omit to log kernel messages
