# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.yaml ##}
{% import_yaml "rsyslog/defaults.yaml" as defaults %}
{% import_yaml "rsyslog/osfamilymap.yaml" as osfamilymap %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set osfam = salt['grains.filter_by'](
                                        osfamilymap,
                                        grain='os_family'
                                        ) or {} %}


{## Merge the flavor_map to the default settings ##}
{% do salt['defaults.merge'](defaults['rsyslog'], osfam) %}


{## Merge in salt:lookup pillar ##}
{% set rsyslog = salt['pillar.get'](
    'rsyslog',
    default=defaults.rsyslog,
    merge=True)
%}
