{% set rsyslog = salt['grains.filter_by']({
    'Debian': {
        'package': 'rsyslog',
        'service': 'rsyslog',
        'config': '/etc/rsyslog.conf',
        'custom_config_path': '/etc/rsyslog.d',
    },
    'RedHat': {
        'package': 'rsyslog',
        'service': 'rsyslog',
        'config': '/etc/rsyslog.conf',
        'custom_config_path': '/etc/rsyslog.d',
    },
}, merge=salt['pillar.get']('rsyslog:lookup')) %}
